<div class="flex flex-col flex-auto md:min-w-200 max-h-200 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_mongodb_user_auth_log"></div>
        <button mat-icon-button mat-dialog-close>
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="icon-size-7 text-white"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto bg-slate-100">

        <div class="p-6 bg-card shadow rounded-2xl overflow-hidden">

                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <cm_input [label]="'system.to_date'" [type]="'datepicker'" [(model)]="filter.to_date"
                            [callbackChange]="rerender.bind(this)">
                        </cm_input>
                    </div>
                    <div class="flex-1">
                        <cm_input [label]="'system.end_date'" [type]="'datepicker'" [(model)]="filter.end_date"
                            [callbackChange]="rerender.bind(this)">
                        </cm_input>
                    </div>
                    <div class="flex-1">
                        <mat-form-field class="w-full">
                            <mat-label>
                                {{'search' | transloco}} ({{ 'inventory.request_work' | transloco }} | {{
                                'inventory.user_name_log' |
                                transloco }})
                            </mat-label>
                            <input matInput [(ngModel)]="filter.search" (keyup.enter)="rerender()">

                        </mat-form-field>
                    </div>
                </div>

        </div>
        <br />
        <div class="p-6 bg-card shadow rounded-2xl overflow-hidden">
            <div>
                <div class="w-full">
                    <nz-table #expandTable nzBordered nzSize="small" nzShowSizeChanger [nzData]="listDataMap"
                        [nzFrontPagination]="false" [nzLoading]="pageLoading" [nzTotal]="total" [nzPageSize]="pageSize"
                        [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
                        <thead>
                            <tr>
                                <th [nzWidth]="'150px'"></th>
                                <th transloco="inventory.account_log" [nzWidth]="'200px'"></th>
                                <th transloco="inventory.user_name_log"></th>
                                <th transloco="inventory.time_log"></th>
                                <th transloco="inventory.request_work" ></th>
                              <th [nzAlign]="'center'" transloco="inventory.ip_address_log" [nzWidth]="'200px'"></th>
                              <th [nzAlign]="'center'" transloco="inventory.device_name" [nzWidth]="'200px'"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of listDataMap">
                                <ng-container *ngFor="let item of listMapTree[data.key]">
                                    <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                                        <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="item.children"
                                            [(nzExpand)]="item.expand"
                                            (nzExpandChange)="collapse(listMapTree[data.key], item, $event)">
                                            <span *ngIf="!item.db"> {{ item.name }}</span>

                                        </td>
                                        <td>{{ item.db?.account }}</td>
                                        <td>{{ item.db?.user_name }}</td>
                                        <td [nzAlign]="'center'">{{ item.db?.request_time | date: 'HH:mm' }}</td>

                                        <!-- <td>{{ item.action_name|transloco }}</td> -->
                                        <td>{{ item.db?.request_work }}</td>
                                        <td [nzAlign]="'center'">{{ item.db?.device_ip_address }}</td>
                                        <td [nzAlign]="'center'">{{ item.db?.device_name }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </nz-table>
                    <!-- <nz-table #expandTable nzBordered nzSize="small" nzShowSizeChanger [nzData]="listData"
                        [nzFrontPagination]="false" [nzLoading]="pageLoading" [nzTotal]="total" [nzPageSize]="pageSize"
                        [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
                        <thead>
                            <tr>
                                <th transloco="system.no_" style="width:50px; text-align:center"></th>
                                <th transloco="system.log_time"  [nzAlign]="'center'" ></th>
                                <th transloco="system.log_category" ></th>
                                <th transloco="system.request_work" ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listData;  index as i;">
                                <td [nzAlign]="'center'">{{currentIndex+ i+1 }}</td>
                                <td [nzAlign]="'center'">{{ item.request_time | date: 'HH:mm' }}</td>
                                <td>{{ 'NAV.'+item.controller_name|transloco }}</td>
                                <td>{{ item.request_work }}
                                    <span class="font-bold" *ngIf="(item.controller_name=='inventory_receiving'||item.controller_name=='inventory_delivery')&&item.response_data?.name" >
                                        : {{ item.response_data.name}}</span>
                                </td>
                        </tbody>
                    </nz-table> -->
                </div>


            </div>

        </div>
        <br />
        <div class="flex flex-row justify-end space-x-2">


        </div>
    </div>


