techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.common.dll
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.common.pdb
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.DataBase.dll
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.DataBase.pdb
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.production.data.dll
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.production.data.pdb
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.quality.data.dll
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.quality.data.pdb
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.quality.web.deps.json
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.quality.web.dll
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.quality.web.pdb
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.quality.web.runtimeconfig.dev.json
techpro.zapp/techpro.quality.web/bin/Debug/netcoreapp3.1/techpro.quality.web.runtimeconfig.json
techpro.zapp/techpro.quality.web/obj/project.assets.json
techpro.zapp/techpro.quality.web/obj/project.nuget.cache
techpro.zapp/techpro.quality.web/obj/techpro.quality.web.csproj.nuget.dgspec.json
techpro.zapp/techpro.quality.web/obj/techpro.quality.web.csproj.nuget.g.props
techpro.zapp/techpro.quality.web/obj/techpro.quality.web.csproj.nuget.g.targets
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.AssemblyInfo.cs
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.AssemblyInfoInputs.cache
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.assets.cache
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.csproj.AssemblyReference.cache
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.csproj.CopyComplete
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.csproj.CoreCompileInputs.cache
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.csproj.FileListAbsolute.txt
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.dll
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.genruntimeconfig.cache
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.pdb
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.common.dll
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.common.pdb
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.DataBase.dll
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.DataBase.pdb
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.production.data.dll
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.production.data.pdb
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.quality.data.deps.json
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.quality.data.dll
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.quality.data.pdb
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.quality.data.runtimeconfig.dev.json
techpro.zapp/techpro.quality.data/bin/Debug/netcoreapp3.1/techpro.quality.data.runtimeconfig.json
techpro.zapp/techpro.quality.data/obj/project.assets.json
techpro.zapp/techpro.quality.data/obj/project.nuget.cache
techpro.zapp/techpro.quality.data/obj/techpro.quality.data.csproj.nuget.dgspec.json
techpro.zapp/techpro.quality.data/obj/techpro.quality.data.csproj.nuget.g.props
techpro.zapp/techpro.quality.data/obj/techpro.quality.data.csproj.nuget.g.targets
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.AssemblyInfo.cs
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.AssemblyInfoInputs.cache
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.assets.cache
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.csproj.AssemblyReference.cache
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.csproj.CopyComplete
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.csproj.CoreCompileInputs.cache
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.csproj.FileListAbsolute.txt
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.dll
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.genruntimeconfig.cache
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.pdb
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.common.dll
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.common.pdb
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.DataBase.dll
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.DataBase.pdb
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.production.data.dll
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.production.data.pdb
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.quality.data.deps.json
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.quality.data.dll
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.quality.data.pdb
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.quality.data.runtimeconfig.dev.json
techpro.zapp/techpro.quality.data/bin/Release/netcoreapp3.1/techpro.quality.data.runtimeconfig.json
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/PublishOutputs.79c2e87e2c.txt
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.AssemblyInfo.cs
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.AssemblyInfoInputs.cache
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.assets.cache
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.csproj.AssemblyReference.cache
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.csproj.CopyComplete
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.csproj.CoreCompileInputs.cache
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.csproj.FileListAbsolute.txt
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.dll
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.genruntimeconfig.cache
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/techpro.quality.data.pdb
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.common.dll
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.common.pdb
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.DataBase.dll
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.DataBase.pdb
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.production.data.dll
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.production.data.pdb
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.quality.data.dll
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.quality.data.pdb
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.quality.web.deps.json
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.quality.web.dll
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.quality.web.pdb
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.quality.web.runtimeconfig.dev.json
techpro.zapp/techpro.quality.web/bin/Release/netcoreapp3.1/techpro.quality.web.runtimeconfig.json
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/PublishOutputs.79c2e87e2c.txt
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.AssemblyInfo.cs
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.AssemblyInfoInputs.cache
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.assets.cache
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.csproj.AssemblyReference.cache
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.csproj.CopyComplete
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.csproj.CoreCompileInputs.cache
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.csproj.FileListAbsolute.txt
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.dll
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.genruntimeconfig.cache
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/techpro.quality.web.pdb
techpro.zapp/techpro.quality.data/obj/Release/netcoreapp3.1/PublishOutputs.556fd67ffc.txt
techpro.zapp/techpro.quality.web/obj/Release/netcoreapp3.1/PublishOutputs.556fd67ffc.txt
techpro.zapp/techpro.quality.data/obj/Debug/netcoreapp3.1/techpro.quality.data.GeneratedMSBuildEditorConfig.editorconfig
techpro.zapp/techpro.quality.web/obj/Debug/netcoreapp3.1/techpro.quality.web.GeneratedMSBuildEditorConfig.editorconfig
