<div class="flex flex-col flex-auto min-w-screen-60 max-h-screen-95 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_approval_config"></div>
        <button mat-icon-button (click)="closeCustom()">
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="icon-size-7 text-white"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto bg-slate-100">
         <div class="p-6 bg-card shadow rounded-2xl overflow-hidden">
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.name'"
                              [keyError]="'db.name'"
                              [(model)]="record.db.name"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel" *ngIf="actionEnum!=1"
                              [actionEnum]="actionEnum"
                              [actionEnum]="actionEnum"
                              [label]="'system.step'"
                              [keyError]="'db.step'"
                              [(model)]="record.db.step"></cm_input>
                </div>
            </div>

            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_select [errorModel]="errorModel" *ngIf="actionEnum==1"
                               [label]="'system.menu'"
                               [keyError]="'db.menu'"
                               [listData]="listMenu"
                               [(model)]="record.db.menu"></cm_select>

                    <cm_input [label]="'system.menu'" *ngIf="actionEnum==3 || actionEnum==2"
                              [actionEnum]="actionEnum"
                              [(model)]="record.form_name"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.note'"
                              [keyError]="'db.note'"
                              [(model)]="record.db.note"></cm_input>
                </div>
            </div>
        </div>
        <br />

        <div class="p-6 bg-card shadow rounded-2xl overflow-hidden" *ngIf="actionEnum!=3">

            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">

                <div class="flex-1">
                    <cm_select_server_side [label]="'system.user_name'"
                                           [link]="'/sys_approval_config.ctr/getListUser/'"
                                           [(objectChose)]="item_chose"
                                           [callbackChange]="bind_data_item_chose.bind(this)"
                                           [(model)]="additem.db.user_id"></cm_select_server_side>
                </div>
                <div class="flex-1">
                    <cm_input [label]="'system.step_num'"
                              [actionEnum]="actionEnum"
                              [type]="'number'"
                              [(model)]="additem.db.step_num"></cm_input>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum!=3">

                <div class="flex-1">
                    <cm_input [label]="'system.step_name'"
                              [actionEnum]="actionEnum"
                              [(model)]="additem.db.name"></cm_input>

                </div>
                <div class="flex-1">
                    <cm_input [label]="'system.note'"
                              [actionEnum]="actionEnum"
                              [(model)]="additem.db.note"></cm_input>

                </div>

            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum!=3">

                <div class="flex-1">
                    <cm_input [label]="'system.duration_hours'"
                              [actionEnum]="actionEnum"
                              [type]="'number'"
                              [(model)]="additem.db.duration_hours"></cm_input>

                </div>
                <div class="flex-1">


                </div>

            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" align="end">
                <div >
                    <button mat-raised-button transloco="add" class=" dark:bg-primary-900 ring-white ring-2 dark:hover:bg-primary-700 dark:ring-primary-600 bg-primary-600 text-white shadow-none hover:bg-primary-700"
                    (click)="addDetail()"></button>
                </div>
            </div>
        </div>
        <br />
         <div class="p-6 bg-card shadow rounded-2xl overflow-hidden">
            <div class="w-full">
                <div >
                    <span class="text-red-500 italic font-semibold" *ngFor="let item of errorModel | filter : 'key' : 'list_item' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>


                    <nz-table nzBordered nzSize="small" #basicTable1 [nzLoading]="loading" nzShowPagination="true"   [(nzData)]="record.list_item" >
                        <thead>
                            <tr>
                                <th *ngIf="actionEnum!=3"></th>
                                <th transloco="no_"></th>
                                <th transloco="system.step_num"></th>
                                <th transloco="system.step_name"></th>
                                <th transloco="system.user_name"></th>
                                <th transloco="system.duration_hours"></th>
                                <th transloco="note"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of basicTable1.data; index as i">
                                <td *ngIf="actionEnum!=3">
                                    <button class="dark:bg-red-900 ring-white ring-2 dark:hover:bg-red-700 dark:ring-red-600 bg-red-600 text-white shadow-none hover:bg-red-700" mat-raised-button transloco="delete" (click)="deleteDetail(i)"></button>
                                </td>
                                <td nzAlign="center">{{ i+1 }}</td>

                                <td nzAlign="center">{{ item.db.step_num | number }}</td>
                                <td nzAlign="center">{{ item.db.name }}</td>
                                <td nzAlign="center">{{ item.user_name }}</td>
                                <td nzAlign="center">{{ item.db.duration_hours | number }}</td>

                                <td>{{ item.db.note }}</td>
                            </tr>
                        </tbody>
                    </nz-table>



                </div>
            </div>
        </div>

<br/>
        <div class="flex flex-row justify-end space-x-2">
                        <button *ngIf="actionEnum!=3" (click)="save()" mat-flat-button [color]="'primary'">
                <label transloco="save"></label>
            </button>
            <!-- <button class="hidden sm:inline-flex" mat-stroked-button (click)="close()">
                <span transloco="close"></span>
            </button> -->
        </div>
    </div>
</div>

