<mat-progress-bar *ngIf="pageLoading" mode="indeterminate" class="absolute top-0"></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="-z-1 relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center tracking-tight">
            <h2 class="text-xl font-semibold text-white">MES</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                {{"NAV.user_manual" | transloco}}
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filters -->
            <form>
                <div class="flex flex-col sm:flex-row items-center justify-start w-full max-w-xs sm:max-w-none">
                    <cm_select class="sm:w-60" [listData]="list_help" formControlName="id_help"
                        [callbackChange]="rerender.bind(this)" [(model)]="filter.id_help">
                    </cm_select>
                    <cm_input type="text" formControlName="search" class="sm:w-72 sm:ml-4" icon="heroicons_solid:search"
                        placeholder="Nhập vào từ khoá" [callbackChange]="rerender.bind(this)" [(model)]="filter.search">
                    </cm_input>
                </div>
            </form>

            <!-- Courses -->
            <ng-container *ngIf="this.listData.length; else noCourses">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                    <ng-container *ngFor="let data of listData; trackBy: trackByFn">
                        <!-- Course -->
                        <div class="flex flex-col shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- Course category -->
                                    <ng-container *ngIf="(data.db.id_help | fuseFindByKey:'id':list_help) as help">
                                        <div class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': help.name === 'Đơn hàng bán',
                                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': help.name === 'Đơn hàng mua',
                                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': help.name === 'Quản lý thiết bị',
                                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': help.name === 'Phiếu nhập kho',
                                                        'text-teal-800 bg-teal-100 dark:text-teal-50 dark:bg-teal-500': help.name === 'Phiếu xuất kho',
                                                        'text-orange-800 bg-orange-100 dark:text-orange-50 dark:bg-orange-500': help.name === 'Sản xuất'}">
                                            {{help.name}}
                                        </div>
                                    </ng-container>
                                </div>
                                <!-- Course title & description -->
                                <div class="mt-4 text-lg font-medium">{{data.db.title}}</div>
                                <div class="mt-0.5 line-clamp-2 text-secondary">
                                    <!--                                    Cho phép lập và quản lý các chứng từ.-->
                                </div>
                                <div class="w-12 h-1 my-6 border-t-2"></div>
                                <!-- Course time -->
                                <div class="flex items-center leading-5 text-md text-secondary">
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'">
                                    </mat-icon>
                                    <div class="ml-1.5">{{data.db.update_date | date: 'dd/MM/yyyy HH:mm' }}</div>
                                </div>
                                <!-- Course completion -->
                                <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:user'">
                                    </mat-icon>
                                    <div class="ml-1.5">{{data.createby_name}}</div>
                                </div>
                            </div>
                            <!-- Footer -->
                            <div class="flex flex-col w-full mt-auto">

                                <!-- Course launch button -->
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button mat-stroked-button [routerLink]="[data.db.id]"
                                        (click)="openDialogAdd(data.db.id)">
                                        <span class="inline-flex items-center">
                                            <span>Xem chi tiết</span>
                                            <mat-icon class="ml-1.5 icon-size-5"
                                                [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- No courses -->
            <ng-template #noCourses>
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon class="icon-size-20" [svgIcon]="'iconsmind:file_search'"></mat-icon>
                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">Không tìm thấy hướng dẫn
                        nghiệp vụ!</div>
                </div>
            </ng-template>

        </div>
    </div>
</div>
