<div class="flex flex-col flex-auto min-w-screen-60 md:min-w-200 max-h-200 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="change_password"></div>

        <button mat-icon-button (click)="closeCustom()">
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="icon-size-7 text-white"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto bg-slate-100">

         <div class="p-6 bg-card shadow rounded-2xl overflow-hidden">
            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <mat-form-field class="w-full" >
                            <mat-label>{{'old_password'| transloco}}</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="resetPasswordForm.get('oldPassword').hasError('required')">
                                {{'old_password_required'| transloco}}
                            </mat-error>

                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <mat-form-field class="w-full" >
                            <mat-label>{{'password'| transloco}}</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                                {{'password_required'|transloco}}
                            </mat-error>

                        </mat-form-field>
                    </div>

                </div>
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                    <div class="flex-1">
                        <mat-form-field class="w-full" >
                            <mat-label>{{'password_confirm'| transloco}}</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                                {{'password_required'|transloco}}
                            </mat-error>
                            <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                                       {{'password_must_match'|transloco}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </form>


        </div>


        <br />
        <div class="flex flex-row justify-end space-x-2">
            <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
                [disabled]="resetPasswordForm.invalid" (click)="changePassword()">
                {{'change_password'|transloco}}
            </button>
        </div>
    </div>
</div>
