<div class="flex flex-col flex-auto min-w-screen-60 max-h-screen-95 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_inventory_position_item_capacity"></div>

        <button mat-icon-button (click)="closeCustom()">
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="icon-size-7 text-white"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto bg-slate-100">
         <div class="p-6 bg-card shadow rounded-2xl overflow-hidden">

            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_select_server_side *ngIf="actionEnum==1"
                                           [errorModel]="errorModel"
                                           [label]="'system.sys_item'"
                                           [link]="'/sys_item.ctr/getListUse/'"
                                           [keyError]="'db.id_item'"
                                           [(objectChose)]="item_chose"
                                           [callbackChange]="bind_data_itemchose.bind(this)"
                                           [(model)]="record.db.id_item"></cm_select_server_side>

                    <cm_input [label]="'NAV.sys_item'" *ngIf="actionEnum==3 || actionEnum==2"
                              [actionEnum]="actionEnum"
                              [(model)]="record.sys_item_name"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_select_server_side [label]="'NAV.sys_item_specification'" *ngIf="actionEnum==1"
                                           [link]="'/sys_item_specification.ctr/getListUse/'"
                                           [(objectChose)]="item_chose_specification"
                                           [listData]="listData_specification"
                                           [dataFilter]="dataFilter_specification"
                                           [callbackChange]="bind_data_item_specification_chose.bind(this)"
                                           [(model)]="record.db.id_specification"></cm_select_server_side>

                    <cm_input [label]="'NAV.sys_item_specification'" *ngIf="actionEnum==3 || actionEnum==2"
                              [actionEnum]="actionEnum"
                              [(model)]="record.sys_item_specification_name"></cm_input>
                </div>
            </div>

            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.min_stock'"
                              [labelAddString]="record.sys_item_unit_name"
                              [type]="'number'"
                              [keyError]="'db.min_stock'"
                              [(model)]="record.db.min_stock"></cm_input>

                </div>
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.max_stock'"
                              [labelAddString]="record.sys_item_unit_name"
                              [type]="'number'"
                              [keyError]="'db.max_stock'"
                              [(model)]="record.db.max_stock"></cm_input>

                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.note'"
                              [keyError]="'db.note'"
                              [(model)]="record.db.note"></cm_input>
                </div>
            </div>


        </div>
<br/>
        <div class="flex flex-row justify-end space-x-2">
                        <button *ngIf="actionEnum!=3" (click)="save()" mat-flat-button [color]="'primary'">
                <label transloco="save"></label>
            </button>
    <!-- <button class="hidden sm:inline-flex" mat-stroked-button (click)="close()">
                <span transloco="close"></span>
            </button> -->
        </div>
    </div>
</div>

